<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nndkrnaf.acfix">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Acfix"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".admin.hasildeteksi.crud.InsertAdminHasilDeteksiActivity"
            android:exported="false" />
        <activity
            android:name=".admin.user.crud.EditAdminUserActivity"
            android:exported="false"
            android:label="Edit Delete User" />
        <activity
            android:name=".admin.user.crud.InsertAdminUserActivity"
            android:exported="false"
            android:label="Create User" />
        <activity
            android:name=".admin.user.activity.AdminUserActivity"
            android:exported="false"
            android:label="User" />
        <activity
            android:name=".hasil_deteksi.activity.DetailHasilDeteksiActivity"
            android:exported="false" />
        <activity
            android:name=".admin.pengetahuan.crud.EditAdminPengetahuanActivity"
            android:exported="false"
            android:label="Edit Delete Pengetahuan" />
        <activity
            android:name=".admin.pengetahuan.crud.InsertAdminPengetahuanActivity"
            android:exported="false"
            android:label="Create Pengetahuan" />
        <activity
            android:name=".admin.kerusakan.crud.EditAdminKerusakanActivity"
            android:exported="false"
            android:label="Edit Delete Kerusakan" />
        <activity
            android:name=".admin.kerusakan.crud.InsertAdminKerusakanActivity"
            android:exported="false"
            android:label="Create Kerusakan" />
        <activity
            android:name=".admin.gejala.crud.EditAdminGejalaActivity"
            android:exported="false"
            android:label="Edit Delete Gejala" />
        <activity
            android:name=".admin.gejala.crud.InsertAdminGejalaActivity"
            android:exported="false"
            android:label="Insert Gejala" />
        <activity
            android:name=".rules.activity.RuleActivity"
            android:exported="false"
            android:label="Deteksi Kerusakan AC"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="Profile" />
        <activity
            android:name=".admin.leveluser.crud.InsertAdminLevelUserActivity"
            android:exported="false"
            android:label="Create Level User" />
        <activity
            android:name=".admin.leveluser.crud.EditAdminLevelUserActivity"
            android:exported="false"
            android:label="Edit Delete Level User" />
        <activity
            android:name=".admin.gejala.activity.AdminGejalaActivity"
            android:exported="false"
            android:label="Gejala" />
        <activity
            android:name=".admin.leveluser.activity.AdminLevelUserActivity"
            android:exported="false"
            android:label="Level User" />
        <activity
            android:name=".admin.kerusakan.activity.AdminKerusakanActivity"
            android:exported="false"
            android:label="Kerusakan" />
        <activity
            android:name=".admin.hasildeteksi.activity.AdminHasilDeteksiActivity"
            android:exported="false"
            android:label="Hasil Deteksi" />
        <activity
            android:name=".admin.pengetahuan.activity.AdminPengetahuanActivity"
            android:exported="false"
            android:label="Pengetahuan" />
        <activity
            android:name=".hasil_deteksi.activity.HasilDeteksiActivity"
            android:exported="false"
            android:label="Hasil Deteksi" />
        <activity
            android:name=".registration.activity.RegistrationActivity"
            android:exported="false"
            android:label="Registration" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="Dashboard" />
        <activity
            android:name=".login.activity.LoginActivity"
            android:exported="false"
            android:label="Login" />
        <activity
            android:name=".pengetahuan.activity.DetailKerusakanActivity"
            android:exported="false"
            android:label="Detail Kerusakan" />
        <activity
            android:name=".pengetahuan.activity.DetailGejalaActivity"
            android:exported="false"
            android:label="Detail Gejala" />
        <activity
            android:name=".gejala.activity.GejalaActivity"
            android:exported="false"
            android:label="Daftar Gejala" />
        <activity
            android:name=".tentang.TentangActivity"
            android:exported="false"
            android:label="Tentang" />
        <activity
            android:name=".pakar.PakarActivity"
            android:exported="false"
            android:label="Pakar" />
        <activity
            android:name=".kerusakan.activity.KerusakanActivity"
            android:exported="false"
            android:label="Daftar Kerusakan" />
        <activity
            android:name=".panduan.PanduanActivity"
            android:exported="false"
            android:label="Panduan" />
        <activity
            android:name=".deteksi.activity.DeteksiActivity"
            android:exported="false"
            android:label="Deteksi" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Dashboard" />
        <activity
            android:name=".SplashscreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>